matplotlib
aiohttp
humanize
dateparser
iso639
aiosqlite
async_lru
beautifulsoup4
Pillow
python-dotenv
PyNaCl
psutil
youtube_dl
async_timeout
openai
git+https://github.com/Rapptz/discord.py
git+https://github.com/oliver-ni/discord-ext-menus-views
git+https://github.com/Rapptz/discord-ext-menus